@font-face {
	font-family: '1,617';
	src: url('../fonts/1\,617.ttf');
}

@font-face {
	font-family: 'Galano Grotesque Medium';
	src: url('../fonts/GalanoGrotesqueMedium.otf');
}

@font-face {
	font-family: 'Galano Grotesque Semibold';
	src: url('../fonts/GalanoGrotesqueSemiBold.otf');
}

@font-face {
	font-family: 'Galano Grotesque Regular';
	src: url('../fonts/GalanoGrotesqueRegular.otf');
}
